<app-dialog-layout>
    <dialog-title>
        <span>Zapisz dział</span>
    </dialog-title>
    <dialog-content>
        <form role="form" #form="ngForm">
            <div class="form-group">
                <label for="name">Nazwa</label>
                <mat-form-field class="w-100">
                    <input autocomplete="off" required id="name" name="name" matInput
                           [(ngModel)]="department.name"/>
                </mat-form-field>
            </div>
        </form>
    </dialog-content>
    <dialog-footer>
        <div class="d-flex">
            <button type="submit" mat-raised-button class="ml-auto" [disabled]="form.invalid"
                    (click)="save()">Zapisz
            </button>
        </div>
    </dialog-footer>
</app-dialog-layout>
