.swipe-list {
    overflow: auto;
    margin-bottom: 0.25rem;
    padding-top: 0;
}

:host ::ng-deep .list-swipe div.mark {
    background: unset !important;
    border: unset !important;
}

.trash-icon {
    color: red;
}

:host ::ng-deep div.list-swipe {
    margin: 0 0 0.75rem 0;
    flex: 0 0 100%;
    max-width: 100%;
}

:host ::ng-deep div.options-btn {
    width: 32vw;
    padding: 0;
}

:host ::ng-deep div.option-list {
    min-height: unset;
    line-height: unset;
    align-items: center;
    display: flex;
    justify-content: center;
}

:host ::ng-deep sw-item-list>div {
    display: flex;
    flex-direction: row-reverse;
}

:host ::ng-deep div.options-btn.active {
    transform: none !important;
    position: unset !important;
    flex: 0 0 45%;
    max-width: 45%;
    margin: 0 0 0.75rem 0;
}

:host ::ng-deep div.list-swipe.left-swipe {
    transform: none !important;
}

:host ::ng-deep div.swipe-enabled div.list-swipe.left-swipe {
    text-align: end;
}

:host ::ng-deep div.option-list i {
    font-size: 1.1rem;
}

:host ::ng-deep div.swipe-enabled div.list-swipe.left-swipe .hide-on-swipe {
    display: none;
}

:host ::ng-deep div.swipe-disabled div.options-btn {
    display: none !important;
}

:host ::ng-deep div.swipe-disabled .left-swipe {
    box-shadow: 0 5px 7px rgb(181 181 181 / 18%);
}


