<div class="h-100">
    <div class="d-flex flex-column h-100">
        <div class="swipe-list" [ngClass]="enableSwipe ? 'swipe-enabled' : 'swipe-disabled'">
            <sw-item-list *ngFor="let item of items; let i = index" (callback)="actionClicked(item, $event.action)"
                          [inside]="item" [customTemplate]="customTemplateSrc" matRipple
                          [editTemplate]="editTemplate" [trashTemplate]="trashTemplate">
                <ng-template #customTemplateSrc>
                    <div (click)="itemClicked.emit(item)">
                        <ng-container *ngTemplateOutlet="listItemTemplate; context: {item: item, index: i}"></ng-container>
                    </div>
                </ng-template>

                <ng-template #editTemplate>
                    <i class="fas fa-edit"></i>
                </ng-template>
                <ng-template #trashTemplate>
                    <i class="far fa-trash-alt trash-icon"></i>
                </ng-template>
            </sw-item-list>
        </div>
        <button *ngIf="addButtonVisible" mat-raised-button class="add-button mt-auto" (click)="addButtonClicked.emit()">
            <i class="fas fa-plus"></i>
            Dodaj
        </button>
    </div>
</div>
