.swipe-list {
    overflow: auto;
    margin-bottom: 0.25rem;
    padding-top: 0;
}

:host ::ng-deep .list-swipe div.mark {
    background: unset !important;
    border: unset !important;
}

.trash-icon {
    color: red;
}

:host ::ng-deep div.swipe-w-100 div {
    height: 100%;
}

:host ::ng-deep div.list-swipe {
    margin: 0;
    padding: 0.25em;
}

:host ::ng-deep div.options-btn {
    width: 32vw;
    padding: 0;
}

:host ::ng-deep div.option-list {
    min-height: 3.25rem;
    line-height: 3.25rem;
}

button.add-button {
    //width: 80px;
    //margin-left: auto;
}
