<div class="h-100">
    <div class="d-flex">
        <h2>Działy</h2>
        <button class="ml-auto">Dodaj</button>
    </div>
    <ul>
        <li *ngFor="let department of departments">
            {{department.id}}
            {{department.name}}
            {{department.description}}
        </li>
    </ul>
    <mat-list>
        <mat-list-item *ngFor="let department of departments" role="listitem">
            {{department.id}} -
            {{department.name}} -
            {{department.description}}
        </mat-list-item>
    </mat-list>
</div>
