<ng-template [ngIf]="searchable">
    <mat-form-field appearance="outline" class="w-100 pb-2">
        <input autocomplete="off" #searchInput matInput type="search" placeholder="Szukaj..."/>
        <div matPrefix>
            <mat-icon>search</mat-icon>
        </div>
        <button (click)="clearSearch()" *ngIf="searchInput.value" mat-button mat-icon-button matSuffix type="button">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</ng-template>
<app-touch-list-layout [items]="filteredProducts" [addButtonVisible]="addButtonVisible" [enableSwipe]="enableSwipe"
                       (addButtonClicked)="addProduct()" (editClicked)="editProduct($event)"
                       (deleteClicked)="deleteProduct($event)">
    <ng-template let-item="item" let-index="index">
        <div class="d-flex">
            <ng-template [ngIf]="selectable">
                <div class="d-flex align-items-center pr-2">
                    <mat-checkbox class="product-checkbox" [ngModel]="item.mark" (change)="markItemChange(item, $event.checked)"></mat-checkbox>
                </div>
            </ng-template>
            <div class="d-flex flex-column w-100 p-1" (click)="itemClicked.emit(item)">
                <span>{{index + 1}}. {{item.name}}</span>
                <div class="d-flex product-info">
                    <span class="text-truncate">{{item.departmentId | departmentName:departments}}</span>
                    <div class="ml-auto">
                        <span *ngIf="selectable && item.mark" class="pr-1">{{item.quantity}}</span>
                        <span class="hide-on-swipe">{{item.unitId | unitName}}</span>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</app-touch-list-layout>
