<app-dialog-layout>
    <dialog-title>
        <span>Dodaj produkt do listy</span>
    </dialog-title>
    <dialog-content>
        <span class="pb-2">{{product.name}}</span>
        <div>
            <label for="quantity">Ilość</label>
            <mat-form-field class="w-100">
                <input [(ngModel)]="product.quantity" id="quantity" matInput autocomplete="off"/>
            </mat-form-field>
        </div>
    </dialog-content>
    <dialog-footer>
        <div class="d-flex">
            <button mat-raised-button class="ml-auto" (click)="addItem()">Dodaj</button>
        </div>
    </dialog-footer>
</app-dialog-layout>
