<div class="h-100 d-flex flex-column ">
    <div class="product-list-container">
        <app-products-list (itemClicked)="addItemToList($event)" [selectable]="true" [chosen]="chosenProducts"
            [enableSwipe]="false" [searchable]="true" [addButtonVisible]="false"></app-products-list>
    </div>
    <div class="mt-auto">
        <mat-divider></mat-divider>
        <span>Wybrano: {{chosenProducts.length}}</span>
        <div class="action-buttons w-100 d-flex pt-1">
            <button mat-raised-button (click)="back()">Anuluj</button>
            <button mat-raised-button class="ml-auto" [disabled]="!chosenProducts.length"
                    (click)="save()">Zapisz</button>
        </div>
    </div>
</div>
