<app-dialog-layout>
    <dialog-title>
        <span>Zapisz produkt</span>
    </dialog-title>
    <dialog-content>
        <form role="form" #form="ngForm">
            <div class="form-group">
                <label for="name">Nazwa</label>
                <mat-form-field class="w-100">
                    <input autocomplete="off" required id="name" name="name" matInput
                           [(ngModel)]="product.name"/>
                </mat-form-field>
            </div>
            <div class="form-group">
                <label for="department">Dział</label>
                <div class="w-100">
                    <ng-select [(ngModel)]="product.departmentId" required
                               name="department" id="department">
                        <ng-option *ngFor="let department of departments" [value]="department.id">
                            {{department.name}}
                        </ng-option>
                    </ng-select>
                </div>
            </div>
        </form>
    </dialog-content>
    <dialog-footer>
        <div class="d-flex">
            <button type="submit" mat-raised-button class="ml-auto" [disabled]="form.invalid"
                    (click)="save()">Zapisz
            </button>
        </div>
    </dialog-footer>
</app-dialog-layout>
