/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
    touch-action: pan-y !important;
}

.mat-dialog-container {
    padding: 0 !important;
}

.cdk-overlay-pane {
    max-width: 95vw !important;
}

.mat-checkbox-checked .mat-checkbox-background {
    background-color: #343a40 !important;
}
