/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
    touch-action: pan-y !important;
}

.mat-dialog-container {
    padding: 0 !important;
}

.cdk-overlay-pane {
    max-width: 95vw !important;
}

.mat-checkbox-checked .mat-checkbox-background {
    background-color: #343a40 !important;
}

ng-select.ng-invalid.ng-touched[ng-reflect-required] .ng-select-container {
    border-color: #dc3545;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px #fde6e8;
}

ng-select.ng-invalid.ng-untouched[ng-reflect-required] .ng-select-container {
    border-color: #dc3545;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px #fde6e8;
}
