<app-navbar (toggleSidenav)="navigationSidenav.toggle()"></app-navbar>
<mat-sidenav-container class="sidenav-container" autosize>
    <mat-sidenav #navigationSidenav mode="over" role="navigation">
        <mat-nav-list>
            <ng-container *ngIf="sidenavItems">
                <a *ngFor="let item of sidenavItems"
                   mat-list-item
                   (click)="navigationSidenav.close()"
                   [routerLink]="[item.route]"
                   [routerLinkActiveOptions]="{exact: true}"
                   routerLinkActive="list-item-active">
                    <mat-icon matListIcon class="nav-list-icon"> {{ item.icon }} </mat-icon>
                    {{item.name}}
                </a>
            </ng-container>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content role="main">
        <div class="h-100 p-2">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
