<div class="h-100 d-flex flex-column">
    <div class="product-list-container">
        <app-touch-list-layout [items]="products" [addButtonVisible]="false" [enableSwipe]="false">
            <ng-template let-item="item" let-index="index">
                <div class="d-flex">
                    <div class="d-flex align-items-center pr-2">
                        <mat-checkbox class="product-checkbox" [ngModel]="item.marked"
                                      (change)="markItemChange(item, $event.checked)"></mat-checkbox>
                    </div>
                    <div class="d-flex flex-column w-100 p-1">
                        <span>{{index + 1}}. {{item.product.name}}</span>
                        <div class="d-flex product-info">
                            <span class="text-truncate">{{item.product.departmentId | departmentName:departments}}</span>
                            <div class="ml-auto">
                                <span class="pr-1">{{item.quantity}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </app-touch-list-layout>
    </div>
    <button *ngIf="allChecked" (click)="closeList()" mat-raised-button class="add-button mt-auto">
        Zakończ
    </button>
</div>
